.preparation-time {
  display: flex;
  align-items: center;
}

mat-card-header {
  display: flex;
  width: 100%;
  justify-content: space-between;

  app-delete-recipe-button {
    margin-right: 1em;
  }
}

mat-card-content {
  padding-left: 2em;
}
