mat-card:hover {
  background-color: rgb(230, 230, 230);
}

mat-card-header {
  display: flex;
  width: 100%;
  justify-content: space-between;

  app-delete-recipe-button {
    margin-right: 1em;
  }
}

mat-card-content {
  padding-left: 2em;
}
