<div class="container" [formGroup]="form" *ngIf="form" errorTailor>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <input matInput formControlName="description" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Preparation time (minutes)</mat-label>
    <input
      type="number"
      min="1"
      matInput
      formControlName="preparationTimeInMinutes"
    />
  </mat-form-field>

  <h2>
    <span>Ingredients</span>
    <app-add-ingredient-button
      (add)="addIngredient()"
    ></app-add-ingredient-button>
  </h2>
  <div class="ingredients-container">
    <div
      class="ingredient-row"
      *ngFor="let formGroup of form.get('ingredients').controls; let i = index"
    >
      <mat-form-field appearance="fill" [formGroup]="formGroup">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>

      <mat-form-field appearance="fill" [formGroup]="formGroup">
        <mat-label>Quantity</mat-label>
        <input matInput formControlName="quantity" />
      </mat-form-field>

      <app-remove-ingredient-button
        (remove)="removeIngredient(i)"
      ></app-remove-ingredient-button>
    </div>
  </div>
</div>
