.container {
  display: flex;
  flex-direction: column;
}

h2 {
  display: flex;
  align-items: center;

  span {
    margin-right: 1em;
  }
}

.ingredients-container {
  display: flex;
  flex-direction: column;

  .ingredient-row {
    display: flex;
    mat-form-field:first-child {
      margin-right: 1em;
    }
    mat-form-field {
      flex: 1;
    }
  }
}
