<ng-container [formGroup]="form" *ngIf="form">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <input matInput formControlName="description" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Preparation time (minutes)</mat-label>
    <input matInput formControlName="preparationTimeInMinutes" />
  </mat-form-field>

  <div>Ingredients</div>
  <ng-container *ngFor="let formGroup of form.get('ingredients').controls">
    <mat-form-field appearance="fill" [formGroup]="formGroup">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="fill" [formGroup]="formGroup">
      <mat-label>Quantity</mat-label>
      <input matInput formControlName="quantity" />
    </mat-form-field>
  </ng-container>
</ng-container>
